/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:wght@200;500;600;700;800&family=Roboto:wght@100;300;400;500&display=swap');
body{
    font-family: "poppins", sans-serif;
    margin-left: 130px;
    margin-right: 130px;

}
.nav-var{
    display: flex;
}
.nav-items{
    display: flex;
}
.first-part-info{
    margin-top: 70px;
}
.first-part-info h1{
    font-size: 45px;
    font-weight: bold;
  
}
.first-part-img{
    width: 440px;
    height: 414px;
    margin-top: 50px;
    margin-left: 40px;
 
}
.first-part{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.Preebook-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 30px;
    border-radius: 15px;
    color: wheat;
    font-weight: 700;
}